.footer {
    background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: -10px;
    font-family: 'Lato', sans-serif;
  }
 