html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%);
  
}

.container {
  width: auto;
  max-width: 100%;
  margin: auto;
  padding: 100px;  
  position: inherit;
  align-content: center;
}

.current-turn {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-top: 1px;
  text-align: center;
   text-transform:inherit;
  background-image: linear-gradient(
    -200deg,
    #06021396 10%,
    #4e54c8ad 29%,
    #ffffff 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.tod-question{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  margin: 0;
  padding:1px 10px 10px 10px;
  width: 300px;
  height: 400px;
  background-image: url('../images/Truth-Or-Dare-Temp.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centers the element horizontally */
}
.tod-text{
  color: #ffffff;
  display: flex;
  text-align: left;
  padding:10px 10px 10px 15px;
}
.superlative-question {
  font-size: 2vw;
  margin: 0;
  padding:1px 10px 10px 10px;
  width: 300px;
  height: 400px;
  background-image: url('../images/superlativeblank.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centers the element horizontally */
}
.superlative-text{
  color: #1a0661ad;
  display: flex;
  text-align: left;
  font-weight: bolder;
  padding:10% 10px 10% 10%;
  font-family: 'Fira Sans', sans-serif;
}
.group-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
}
.button {
  background-color: #fffffffd;
  color: #1a0661ad;
  font-weight: 600;
}
.button:hover {
  background-color: #ffffff;
  border-color: #e6e6e6;
}
/*
.button:first-child {
  margin-right: auto;
}

.button:last-child {
  margin-left: auto; 
}

.button span {
  display: block;
  margin-top: 40px;
}
.button svg {
  font-size: 18px;
  margin: 0 5px;
}

.button:active {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
} */



.next-turn {
  background-color: rgb(27, 189, 12);
  font-weight: bold;
  color: white;
  position: absolute;
  top: 150px;
  right: 20px;
}
.next-question {
  background-color: rgb(27, 189, 12);
  font-weight: bold;
  color: white;
  position: absolute;
  top: 150px;
  right: 20px;
}

.bottom-right-button {
  position: absolute;
  bottom: 150px;
  right: 20px;
}

.button-end-game {
  background-color: red;
  font-weight: bold;
  color: white;
  border-color: red;
}
.next-question {
  background-color: rgb(27, 189, 12);
  border-color: rgb(27, 189, 12);
}
.next-question:hover {
  background-color: rgb(23, 128, 13);
  border-color: rgb(23, 128, 13);
}
.next-turn:hover {
  background-color: rgb(23, 128, 13);
  border-color: rgb(23, 128, 13);
}
.button-end-game:hover {
  background-color: #ff4d4d;
  border-color: #ff4d4d;
}
