.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%);
  padding-bottom: 10px;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.option {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #007bff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #0056b3;
}

#formList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 2s ease, transform 2s ease;  
}

#formList.show {
  opacity: 1;
  transform: scale(1);
}

#list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 2px;
  position: relative;
}

#list legend {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  padding: 0 2px;
}

.avatar {
  width: 200px;
  height: 250px;
  border-radius: 4%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.664);
  position: relative;
  cursor: pointer;
}

.avatar img {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

.avatar .front {
  z-index: 2;
  transform: rotateY(0deg);
  transition: transform 0.5s;
}

.avatar .back {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.item:hover .avatar {
  transform: rotateY(180deg);
}

.item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.item.exiting .avatar {
  transform: rotateY(0deg);
  transition: transform 0.5s 2s;
}

.avatar.delayed {
  transition-delay: 0s;
}

.item {
  perspective: 1000px;
  margin: 10px;
  position: relative;
  background-color: #0057b300;
}


.item.animate::before,
.item.animate::after {
  content: '';
  position: absolute;
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1;
  background-color: #0057b300;
  background-repeat: no-repeat;
  transition: all ease-in-out 0.5s;
  pointer-events: none; 
  top: 0;
}

.item.animate::before {
  top: -75%;
  background-image: 
    radial-gradient(circle, #ff009d 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #007bff 20%, transparent 30%),
    radial-gradient(circle, #ff009d 20%, transparent 20%), 
    radial-gradient(circle, #007bff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff009d 15%, transparent 20%),
    radial-gradient(circle, #007bff 20%, transparent 20%),
    radial-gradient(circle, #ff009d 20%, transparent 20%),
    radial-gradient(circle, #007bff 20%, transparent 20%),
    radial-gradient(circle, #ff009d 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.item.animate::after {
  bottom: -75%;
  background-image: 
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #007bff 20%, transparent 30%),
    radial-gradient(circle, #007bff 20%, transparent 20%), 
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #007bff 15%, transparent 20%),
    radial-gradient(circle, #007bff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%),
    radial-gradient(circle, #007bff 20%, transparent 20%),
    radial-gradient(circle, #ffffff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}


@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.item .content {
  padding: 80px;
  font-family: ray-ban;
}

.item .content table td {
  padding: 10px 0;
  border-bottom: 1px solid #AEC0CE;
}

.item .content table td:nth-child(2) {
  text-align: right;
}

.item .nameGroup {
  text-align: center;
  border-bottom: none !important;
}

#formList::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  .item {
    width: calc(33.3vw - 20px);
  }

  .direction {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: calc(50vw - 20px);
  }

  .direction {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .avatar {
    width: 150px;
    height: 200px;
  }
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
